* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.maincontainer {
  width: undefined;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer .outercard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 1150px;
  background-color: #16a784;
  border-radius: 30px;
}
.maincontainer .card {
  background-image: url(https://s3-alpha-sig.figma.com/img/e022/c2b0/4569612ef636f48994a9013d4202467e?Expires=1668988800&Signature=KW-xJkYwPBWyx1TqMGnmyieicE6aLC-8Z1MBzY8TWP~KzpG14jxM4gKmsPThlba54EB5KXSWiK6s0EVdioYSHJcAbj2~O06qIoiq~ao9PO0lDOIVvSANodiwdJIQWZFKFDn0Zyq-85L9ZOv3eMIWZc-HSC6RdF5CqDEJZFhsy5Rx6ibkzBgWwWQCLAJdjr~-3wkp3DoChvTdHiBqgWMgx~zwPWHmvoeZIiFcHvLay8CP65TDrvtsK1nvylqDFc-cPQCw4miH~jMYwdHNiSN04otsRDK59o524AwB7r0HptoBXnvh-yv3r4MXM-LGlSF3RhqliYRVcyeJHU9XB1lsOQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-size: cover;
  width: 691px;
  height: 825px;
  box-shadow: 0px 4px 13px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.maincontainer .card .profilepicdiv {
  background-image: url("https://s3-alpha-sig.figma.com/img/ae0f/41c4/14089269e7fb5f25d737d328c17073fe?Expires=1668988800&Signature=A0HsEAwOtqiXSd2FHaKNP7Ks1bsDIBT32eM7MPd-GSV6JXIPKsux1JCB2zFHjP4zmGJs6cOpPgNxhY7MeArvcV7JRxSt27xrwFsygx8K2wA4DzGKUysp6-diKi~TSgDizWH4JjKLhrNYczmK1sxLLJqO2FCOAcPyViwakEdkUwqyMZxmjJ1GQ~DRCDYHYBj98hyTa6NPs1WoH5-irhZdcxhsUAnL2dIT8uhhTcfQl3TRjZ3vYZp72TfvACNAQ6qzMVk6jQi597Tzvc0odi~kJpFwdKw7yUBS2aZjfxqhpMF~KuAmfvlV91sHR45bQI2~DJYwH0aO1XU38BdXmm65Uw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-position: left 0px top -60px;
  background-repeat: no-repeat;
  width: 287px;
  height: 287px;
  border-radius: 50%;
  border: 10px solid #f1eaea;
  position: relative;
  left: 30%;
  top: 20%;
}
.maincontainer .card .details {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 13px 10px rgba(0, 0, 0, 0.25);
  width: 691px;
  height: 548px;
  background: #ffffff;
  border-radius: 30px;
}
.maincontainer .card .details .sub {
  border-top: 100px solid white;
}
.maincontainer .card .details .sub .palign {
  display: flex;
  justify-content: center;
  align-items: undefined;
  line-height: 10px;
}
.maincontainer .card .details .sub .lines {
  display: flex;
  justify-content: space-between;
  align-items: undefined;
}
.maincontainer .card .details .sub .lines .line {
  border: 1px solid rgba(22, 167, 132, 0.4);
  width: 180px;
  margin: 30px;
}
.maincontainer .card .details .prime {
  text-align: center;
  line-height: 72px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #16a784;
}
.maincontainer .card .details p {
  text-align: center;
  width: 426px;
  height: undefined;
  line-height: 36px;
  font-weight: 400;
  font-size: 24px;
}
.maincontainer .card .details #product {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  width: 320px;
  height: 45px;
  line-height: 45px;
}
.maincontainer .card .details .product {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .maincontainer .outercard {
    width: 500px;
    height: 575px;
    border-radius: 15px;
  }
  .maincontainer .card {
    width: 345.5px;
    height: 412.5px;
    border-radius: 15px;
  }
  .maincontainer .card .profilepicdiv {
    background-position: left 0px top -30px;
    width: 143.5px;
    height: 143.5px;
    border-radius: 50%;
    border: 5px solid #f1eaea;
  }
  .maincontainer .card .details {
    width: 345.5px;
    height: 274px;
    border-radius: 15px;
  }
  .maincontainer .card .details .sub {
    border-top: 50px solid white;
  }
  .maincontainer .card .details .sub .palign {
    line-height: 5px;
  }
  .maincontainer .card .details .sub .lines .line {
    width: 90px;
    margin: 15px;
  }
  .maincontainer .card .details .prime {
    line-height: 36px;
    font-size: 24px;
    color: #16a784;
  }
  .maincontainer .card .details p {
    width: 213px;
    height: undefined;
    line-height: 18px;
    font-size: 12px;
  }
  .maincontainer .card .details #product {
    font-size: 15px;
    width: 160px;
    height: 22.5px;
    line-height: 22.5px;
  }
}
@media only screen and (max-width: 400px) {
  .maincontainer .outercard {
    width: 250px;
    height: 287.5px;
    border-radius: 7.5px;
  }
  .maincontainer .card {
    width: 172.75px;
    height: 206px;
    border-radius: 7.5px;
  }
  .maincontainer .card .profilepicdiv {
    background-position: left 0px top -15px;
    width: 71.75px;
    height: 71.75px;
    border-radius: 50%;
    border: 2.5px solid #f1eaea;
  }
  .maincontainer .card .details {
    width: 172.75px;
    height: 137px;
    border-radius: 7.5px;
  }
  .maincontainer .card .details .sub {
    border-top: 25px solid white;
  }
  .maincontainer .card .details .sub .palign {
    line-height: 2.5px;
  }
  .maincontainer .card .details .sub .lines .line {
    width: 45px;
    margin: 7.5px;
  }
  .maincontainer .card .details .prime {
    line-height: 18px;
    font-size: 12px;
    color: #16a784;
  }
  .maincontainer .card .details p {
    width: 106.5px;
    height: undefined;
    line-height: 9px;
    font-size: 6px;
  }
  .maincontainer .card .details #product {
    font-size: 7.5px;
    width: 80px;
    height: 11.25px;
    line-height: 11.25px;
  }
}/*# sourceMappingURL=main.css.map */