* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

@mixin flex-center($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin widthheight($width, $height) {
  width: $width;
  height: $height;
}

.maincontainer {
  @include widthheight(undefined, 100vh);
  @include flex-center(flex, center, center);
  .outercard {
    @include flex-center(flex, center, center);
    @include widthheight(1000px, 1150px);
    background-color: #16a784;
    border-radius: 30px;
  }

  .card {
    background-image: url("./background.jpg");
    background-size: cover;
    @include widthheight(691px, 825px);
    box-shadow: 0px 4px 13px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    .profilepicdiv {
      background-image: url("./profile.jpg");
      background-size: cover;
      background-position: left 0px top -60px;
      background-repeat: no-repeat;
      @include widthheight(287px, 287px);
      border-radius: 50%;
      border: 10px solid #f1eaea;
      position: relative;
      left: 30%;
      top: 20%;
    }

    .details {
      @include flex-center(flex, center, center);
      box-shadow: 0px 4px 13px 10px rgba(0, 0, 0, 0.25);
      @include widthheight(691px, 548px);
      background: #ffffff;
      border-radius: 30px;

      .sub {
        border-top: 100px solid white;
        .palign {
          @include flex-center(flex, center, undefined);
          line-height: 10px;
        }
        .lines {
            @include flex-center(flex, space-between, undefined);
            .line {
              border: 1px solid rgba(22, 167, 132, 0.4);
              width: 180px;
              margin: 30px;
            }
          }



      }
      .prime {
        text-align: center;
        line-height: 72px;
        font-style: normal;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 48px;
        color: #16a784;
      }

      p {
        text-align: center;
        @include widthheight(426px, undefined);
        line-height: 36px;
        font-weight: 400;
        font-size: 24px;
        // line-height: 36px;
      }

      #product {
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        @include widthheight(320px, 45px);
        line-height: 45px;
      }

      .product {
        @include flex-center(flex, center, center);
      }
    }
  }
}






















// /* media queries */

@media only screen and (max-width: 800px) {

    .maincontainer {
        .outercard {
          @include widthheight(500px, 575px);
         border-radius: 15px;
        }
      
        .card {
          @include widthheight(345.5px, 412.5px);
          border-radius: 15px;
      
          .profilepicdiv {
           background-position: left 0px top -30px;
            @include widthheight(143.5px, 143.5px);
            border-radius: 50%;
            border: 5px solid #f1eaea;
          }
      
          .details {
            @include widthheight(345.5px, 274px);
            border-radius:15px;
      
            .sub {
              border-top: 50px solid white;
              .palign {
                line-height: 5px;
              }
              .lines {
                  .line {
                    width: 90px;
                    margin: 15px;
                  }
                }
            }

            .prime {
        
              line-height: 36px;
              font-size: 24px;
              color: #16a784;
            }
      
            p {

              @include widthheight(213px, undefined);
              line-height: 18px;
              font-size: 12px;
        
            }
      
            #product {
              font-size: 15px;
              @include widthheight(160px, 22.5px);
              line-height: 22.5px;
            }
      
            
          }
        }
      }

    
}





@media only screen and (max-width:400px) {

    .maincontainer {
        .outercard {
          @include widthheight(250px, 287.5px);
         border-radius: 7.5px;
        }
      
        .card {
          @include widthheight(172.75px, 206px);
          border-radius: 7.5px;
      
          .profilepicdiv {
           background-position: left 0px top -15px;
            @include widthheight(71.75px, 71.75px);
            border-radius: 50%;
            border: 2.5px solid #f1eaea;
          }
      
          .details {
            @include widthheight(172.75px, 137px);
            border-radius:7.5px;
      
            .sub {
              border-top: 25px solid white;
              .palign {
                line-height: 2.5px;
              }
              .lines {
                  .line {
                    width: 45px;
                    margin: 7.5px;
                  }
                }
            }

            .prime {
        
              line-height: 18px;
              font-size: 12px;
              color: #16a784;
            }
      
            p {

              @include widthheight(106.5px, undefined);
              line-height: 9px;
              font-size: 6px;
        
            }
      
            #product {
              font-size: 7.5px;
              @include widthheight(80px, 11.25px);
              line-height: 11.25px;
            }
      
            
          }
        }
      }
}
